*{
    font-family:montserrat;
    box-sizing: border-box;
}
body{
    background: #f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.navbar-nav a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    transition: .3s ease;
}
.navbar-nav a:hover,.navbar-nav a:focus{
    color: white;
    transform: scale(1.1);
}

.carousel-item{
    height: 100vh; 
    min-height: 300px;
}
.carousel-item:first-child{
    background: url(Assets/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item:nth-child(2){
    background: url(Assets/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item:nth-child(3){
    background: url(Assets/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item:last-child{
    background: url(Assets/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-caption{
    bottom: 220px;  
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.w-100{
    height: 100vh;
}

.services .card-body img{
    width: 300px;
    height: 200px;
}
.card{
    background: linear-gradient(to bottom, grey, black);
    border: none;       
}
.socials i{
    font-size: 25px;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .carousel-caption{
        bottom: 150px;
    }
    .carousel-caption p{
        width: 100%;
    }
    .about-text{
        text-align: center;
    }
    .about-img{
        margin: 0 auto;
    }
}
@media screen and (max-width:767px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 150px;
    }
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 14px;
    }
    .carousel-item:first-child{
        background: url(Assets/5.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel-item:nth-child(2){
        background: url(Assets/6.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel-item:nth-child(3){
        background: url(Assets/7.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel-item:last-child{
        background: url(Assets/8.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .about-text{
        text-align: center;
    }
    .about-img{
        margin: 0 auto;
    }
}